*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Tahoma, Verdana;
}

:root {
    --cor-primária: #1b8e99;
    --cor-secundária: #660000;
    --cor-hover1: #92c9ce;
    --branco: #ffffff; 
}

html{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/*-----===| SERVICOS |===-----*/
/*---| Todos que usam 'display: flex'*/
.servicos, .servicos-cabecalho, .servicos-cabecalho-left, .servicos-cabecalho-left span, .servicos-cabecalho-image-container, .servicos-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicos{
    height: 445px;
    width: 980px;
    flex-direction: column;
    justify-content: space-between;
}

.barra-cinza{
    height: 15px;
    width: 100%;
    background-color: rgb(77, 77, 77);
}

.servicos-cabecalho{
    height: 80px;
    width: 100%;
}
.servicos-cabecalho-left{
    height: 100%;
    width: calc(100% - 125px);
    flex-direction: column;
    align-items: flex-start;
}
.servicos-cabecalho-left span{
    height: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: var(--cor-primária);
}
.cabecalho-barra-azul{
    height: 3px;
    width: 100%;
    background-color: var(--cor-primária);
}
.servicos-cabecalho-image-container{
    height: 77px;
    width: 125px;
}
.servicos-cabecalho-image{
    height: 100%;
}

.servicos-conteudo{
    width: 100%;
    height: 340px;
    justify-content: space-between;
}

.servicos-card{
    height: 100%;
    width: 310px;
}

.card-cursos, .card-filmagens-aereas{
    border: solid 1px var(--cor-secundária);
    border-bottom: solid 5px var(--cor-secundária);
    color: var(--cor-secundária);
}
.card-manutencoes{
    border: solid 1px var(--cor-primária);
    border-bottom: solid 5px var(--cor-primária);
    color: var(--cor-primária);
}
.card-image-container{
    width: 100%;
}
.card-image{
    width: 100%;
}
.card-titulo{
    font-size: 15px;
    padding: 0 15px 15px 15px;
}
.card-descricao{
    padding: 0 15px 15px 15px;
    bottom: 0;
}
.card-descricao span{
    font-size: 12px;
}

/*-----===| FOOTER |===-----*/
/*---| Todos que usam 'display: flex'*/
footer, .footer-mini-professor, .footer-imagem-drones, .drone1, .drone2, .drone3, .footer-content, .section-left, .section-right, .footer-creditos, .footer-creditos span {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    height: 168px;
    max-width: 980px;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
}

.footer-mini-professor{
    height: 168px;
    max-width: 980px;
    width: 100%;
    position: absolute;
    justify-content: flex-end;
}
.footer-mini-professor img{
    height: 100%;
    right: 0;
}

.footer-imagem-drones{
    height: 46px;
    width: 100%;
}
.drone1, .drone2, .drone3{
    height: 100%;
    width: 33%;
}
.drone1, .drone3{
    justify-content: flex-start;
}

.footer-content{
    height: 96px;
    max-width: 980px;
    width: 100%;
    background-color: var(--cor-primária);
    justify-content: flex-start;
}
.section-left{
    height: 100%;
    width: 25%;
}
.section-left-drones, .section-left-net{
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: white;
}
.section-left-net{
    font-size: 24px;
    color: rgb(248, 255, 146);
}
.section-right{
    height: 100%;
    width: calc(75% - 95px);
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 14px;
}

.footer-creditos{
    height: 26px;
    width: 100%;
    background-color: var(--cor-secundária);
    justify-content: flex-start;
}
.footer-creditos span{
    height: 100%;
    width: calc(100% - 100px);
    justify-content: flex-end;
    color: white;
    font-size: 14px;
}