/*-----===| UNIVERSAL |===-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Tahoma, Verdana;
}

:root {
    --cor-primária: #1b8e99;
    --cor-secundária: #660000;
    --cor-hover1: #92c9ce;
    --branco: #ffffff; 
}

html{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/*-----===| HEADER |===-----*/
/*---| Todos que usam 'display: flex'*/
.nav1, .banner, .nav2, .menu-nav1, .menu-nav2, .hover1, .hover2{
    display: flex; /*permite uso das propriedades flexbox: justify-content e align items*/
    align-items: center; /*alinha verticalmente o logo e o menu*/
    justify-content: center; /*separa o logo e o menu*/
}
header{
    width: 980px; /*largura do box content, sem contar padding e border*/
    margin: 30px 0 0 0; /*valores em sentido horário; 20px para margem superior; valor auto renderiza automaticamente margens laterais, para centralizar conteúdo; valor 0 para bottom=0*/
}

.nav1{
    height: 45px; /*define altura do box*/
    position: relative; /*permite alterar posicionamento; necessário para z-index*/
    padding: 0 10px; /*espaçamento interno entre itens no cabeçalho */
    justify-content: space-between;
    background-color: #1b8e99; /*cor de fundo para o menu inferior*/
    z-index: 2; /*define profundidade; valor maior que menu azul e banner*/
}

.banner{
    height: auto;
    width: 100%;
}
.banner img{
    width: 100%;
}

.nav2{
    height: 45px; /*define altura do box*/
    padding: 0 10px; /* Espaçamento interno no cabeçalho */
    background-color: #660000; /* Cor de fundo para o cabeçalho e o menu secundário */
    justify-content: flex-start;
}

.logo img{
    width: 194px; /* Largura do logo */
    height: 146px; /* Altura do logo */
    position: relative;
    z-index: 1; /*define profundidade; valor menor que logo*/
    translate: 0 30px; /*desloca 0 no eixo horizontal e 30px no eixo vertical*/
}

.menu-nav1, .menu-nav2{
    height: 45px; /*define altura para texto, igual à altura do box, para aplicar align-itens*/
    gap: 30px; /* Espaço entre os itens do menu; propriedade do display grid, aplicável ao flexbox */
    list-style: none; /*remove bullet points*/
    padding: 0; /*reseta padding para zero*/
    margin: 0;  /*reseta margin para zer0*/
}

.hover1, .hover2{
    transition: all .2s;
}

.hover1{}
.hover1:hover{
    height: 55px; /*altura 10px maior do que box, para dar efeito de overflow/transbordamento*/
    padding: 0 5px 0 5px;/*aumenta  área de padding à esquerda e à direita, mas está empurrando os elementos circundantes*/
    margin: -5px; /*evita deslocamento lateral dos elementos ao redor após aumento do padding, mas cria um problema no eixo vertical*/
    background-color: #92c9ce; /*cor de fundo do hover*/
}

.hover2{}
.hover2:hover{
    height: 55px; /*altura 10px maior do que box, para dar efeito de overflow/transbordamento*/
    padding: 0 5px 0 5px; /*aumenta  área de padding à esquerda e à direita, mas está empurrando os elementos circundantes*/
    margin: -5px; /*evita deslocamento lateral dos elementos ao redor após aumento do padding, mas cria um problema no eixo vertical*/
    background-color: white; /*cor de fundo do hover*/
    font-weight: bold /*negrito*/
}

.hover1 a, .hover2 a {
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 12px; /* Tamanho da fonte dos links */
}
.hover2:hover a{
    color: #660000; /*sobreposição à regra herdade de .hover1 a, .hover2 a*/
}

/*-----===| SERVICOS |===-----*/
/*---| Todos que usam 'display: flex'*/
.servicos, .servicos-cabecalho, .servicos-cabecalho-left, .servicos-cabecalho-left span, .servicos-cabecalho-image-container, .servicos-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicos{
    height: 445px;
    width: 980px;
    flex-direction: column;
    justify-content: space-between;
}

.barra-cinza{
    height: 15px;
    width: 100%;
    background-color: rgb(77, 77, 77);
}

.servicos-cabecalho{
    height: 80px;
    width: 100%;
}
.servicos-cabecalho-left{
    height: 100%;
    width: calc(100% - 125px);
    flex-direction: column;
    align-items: flex-start;
}
.servicos-cabecalho-left span{
    height: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: var(--cor-primária);
}
.cabecalho-barra-azul{
    height: 3px;
    width: 100%;
    background-color: var(--cor-primária);
}
.servicos-cabecalho-image-container{
    height: 77px;
    width: 125px;
}
.servicos-cabecalho-image{
    height: 100%;
}

.servicos-conteudo{
    width: 100%;
    height: 340px;
    justify-content: space-between;
}

.servicos-card{
    height: 100%;
    width: 310px;
}

.card-cursos, .card-filmagens-aereas{
    border: solid 1px var(--cor-secundária);
    border-bottom: solid 5px var(--cor-secundária);
    color: var(--cor-secundária);
}
.card-manutencoes{
    border: solid 1px var(--cor-primária);
    border-bottom: solid 5px var(--cor-primária);
    color: var(--cor-primária);
}
.card-image-container{
    width: 100%;
}
.card-image{
    width: 100%;
}
.card-titulo{
    font-size: 15px;
    padding: 0 15px 15px 15px;
}
.card-descricao{
    padding: 0 15px 15px 15px;
    bottom: 0;
}
.card-descricao span{
    font-size: 12px;
}

/*-----===| FOOTER |===-----*/
/*---| Todos que usam 'display: flex'*/
footer, .footer-mini-professor, .footer-imagem-drones, .drone1, .drone2, .drone3, .footer-content, .section-left, .section-right, .footer-creditos, .footer-creditos span {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    height: 168px;
    max-width: 980px;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
}

.footer-mini-professor{
    height: 168px;
    max-width: 980px;
    width: 100%;
    position: absolute;
    justify-content: flex-end;
}
.footer-mini-professor img{
    height: 100%;
    right: 0;
}

.footer-imagem-drones{
    height: 46px;
    width: 100%;
}
.drone1, .drone2, .drone3{
    height: 100%;
    width: 33%;
}
.drone1, .drone3{
    justify-content: flex-start;
}

.footer-content{
    height: 96px;
    max-width: 980px;
    width: 100%;
    background-color: var(--cor-primária);
    justify-content: flex-start;
}
.section-left{
    height: 100%;
    width: 25%;
}
.section-left-drones, .section-left-net{
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: white;
}
.section-left-net{
    font-size: 24px;
    color: rgb(248, 255, 146);
}
.section-right{
    height: 100%;
    width: calc(75% - 95px);
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 14px;
}

.footer-creditos{
    height: 26px;
    width: 100%;
    background-color: var(--cor-secundária);
    justify-content: flex-start;
}
.footer-creditos span{
    height: 100%;
    width: calc(100% - 100px);
    justify-content: flex-end;
    color: white;
    font-size: 14px;
}
